<template>
    <div class="form-check">
        <label class="form-check-label">
            <input :type="type" class="form-check-input"
                   :name="questionIndex"
                   @change="onChange"
                   :value="answerIndex"
                   >
            {{ answer }}
        </label>
    </div>
</template>
<script>
    export default {
        props: ['answer', 'type', 'questionIndex', 'answerIndex'],
        data() {
            return {
                checkData: false
            }
        },
        computed: {

        },
        methods: {
            onChange(e) {
                if (e.target.type == 'radio') {
                    this.$emit('changedata', {
                        value: e.target.value,
                        type: e.target.type
                    });
                } else if (e.target.type == 'checkbox') {
                    this.checkData = !this.checkData;
                    this.$emit('changedata', {
                        value: this.checkData,
                        index: e.target.value,
                        type: e.target.type
                    });
                }
            }
        }
    }
</script>