<template>
    <div>
        <h2>{{ title }}</h2>
        <hr>
        <app-answer v-for="(answer, index) in answers"
                    :answer="answer"
                    :type="type"
                    :key="index"
                    :questionIndex="questionIndex"
                    :answerIndex="index"
                    @changedata="onChangeData($event)"
                    >
        </app-answer>
        <hr>
        <button class="btn btn-success" @click="onNext" :disabled="checkQuestionAnswers">Далее</button>
    </div>

</template>
<script>
    import AppAnswer from './Answer';
    export default {
        components: {
            AppAnswer
        },
        props: ['type', 'title', 'answers', 'questionIndex'],
        data() {
            return {
                questionAnswers: []
            }
        },
        computed: {
            checkQuestionAnswers() {
                console.log(this.questionAnswers.length != 0);
                console.log(find(this.questionAnswers, true));
                console.log(this.questionAnswers);
                if (this.type == 'radio') {
                    return this.questionAnswers != 0 ? false : true;
                } else if (this.type == 'checkbox') {
                    return this.questionAnswers.reduce((a, b) => a + (+b || 0), 0) ? false : true;
                }
            }
        },
        created() {
            if (this.type == 'checkbox') {
              for (let i = 0; i < this.answers.length; i++) {
                  this.questionAnswers.push(false);
              }
            }
        },
        methods: {
            onChangeData(data) {
                if (data.type == 'radio') {
                    this.questionAnswers = data.value;
                } else if (data.type == 'checkbox') {
                    this.$set(this.questionAnswers, data.index, data.value);
                }
            },
            onNext() {
                this.$emit('onclicknext', {
                    value: this.questionAnswers
                })
            },
        }
    }
</script>