<template>
    <div>
        <h1>Итого</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>Вопрос:</td>
                    <td>Ответ:</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(question, index) in questions">
                    <td>{{ question.title }}</td>
                    <td>{{ answersValue[index] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        props: ['questions', 'answersValue'],
        methods: {
        }
    }
</script>