<template>
  <div class="wrapper">
    <div class="sample">
      <transition enter-active-class="animated fadeIn"
                  leave-active-class="animated fadeOut"
                  mode="out-in"
                  >
        <form @submit.prevent="questionShow++" v-if="current" class="animated fadeInLeft">
          <transition enter-active-class="animated fadeInLeft"
                      leave-active-class="animated fadeOut"
                      mode="out-in"
          >
            <app-question :type="current.type"
                          :title="current.title"
                          :answers="current.answers"
                          :questionIndex="questionShow"
                          :key="questionShow"
                          @onclicknext="getAnswers($event)"
                          @onchangedata=""
            >
            </app-question>
          </transition>

        </form>
        <app-result v-else
                    :questions="questions"
                    :answersValue="answersValue"
        >
        </app-result>
      </transition>

    </div>
  </div>
</template>

<script>
  import AppQuestion from './components/Question';
  import AppResult from './components/Result';

  export default {
    components: {
      AppQuestion,
      AppResult
    },
    data() {
      return {
        questions: [
          {
            type: 'radio',
            title: 'Какой тег задает ссылку?',
            answers: [
              'a',
              'div',
              'span',
              'img'
            ]
          },
          {
            type: 'checkbox',
            title: 'Какие из этих тегов строчные?',
            answers: [
              'a',
              'div',
              'span',
              'img'
            ]
          }
        ],
        questionShow: 0,
        answersValue: []
      }
    },
    created() {
      for (let i = 0; i < this.questions.length; i++) {
          this.answersValue.push('');
      }
    },
    computed: {
      current() {
        return this.questions[this.questionShow];
      }
    },
    methods: {
      getQuestion(index) {
        return this.questionShow == index;
      },
      getAnswers(data) {
        this.$set(this.answersValue, this.questionShow, data.value);
      }
    }
  }

</script>

